<%- include('header') %> 
<div class="box">
<h1 style="color: black;" class="item">About page</h1>
<p class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda pariatur necessitatibus dolores iste, eos rerum? Nemo molestiae placeat et officiis officia nostrum neque, quo, libero ut consequatur at porro sed.</p>
</div>
<%- include("footer") %> 